$pColor: #056839;
$sColor: #00381e;
$whColor: #fff;
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  font-size: 1rem;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  ul {
    padding: 0px;
    margin: 0px;
  }
}
img {
  max-width: 100%;
}
//
// header area start
.dm_header_area {
  height: 80px;
  border-bottom: 1px solid #0000004f;
}
// header area end
// navbar area
#dm_header_banner_area {
  background-color: $sColor;
  padding: 20px 0px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
// dm_navbar area
#dm_navbar_area {
  background: $pColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #dm_navbar_menu {
    min-height: 60px;
    height: 100%;
    align-items: center;
    li {
      list-style: none;
      display: inline-block;
      position: relative;
      padding: 20px 0px;
      a {
        color: $whColor;
        text-decoration: none;
        padding: 10px 20px;
        background-color: black;
        &:hover {
          background-color: red;
        }
      }
      ul {
        position: absolute;
        background-color: $pColor;
        left: 0px;
        top: 100%;
        transition: all 0.5s;
        transform: translateY(50px);
        opacity: 0;
        pointer-events: none;
        min-width: 200px;
        li {
          width: 100%;
          position: relative;
          padding: 0px;
          a {
            display: block;
            border-color: orange;
          }
          ul {
            position: absolute;
            top: 0%;
            left: 100%;
            transition: all 0.5s;
            transform: translateX(50px) !important;
            pointer-events: none !important;
            opacity: 0 !important;
          }
          &:hover {
            background-color: red;
            ul {
              opacity: 1 !important;
              transform: translateX(0px) !important;
              pointer-events: all !important;
            }
          }
        }
      }
      &:hover {
        ul {
          opacity: 1;
          transform: translateY(0px);
          pointer-events: all;
        }
      }
    }
    li.current-menu-item a {
      background-color: red;
    }
  }
}
