// primary color
$pColor: $pColor;

body.wp-admin {
  a.current {
    background: $pColor !important;
  }
  ul#adminmenu {
    width: 100%;
    li &::before {
      color: #fff !important;
    }
    a:hover {
      background: $pColor;
      color: #fff;
      .wp-menu-image.dashicons-before::before {
        color: #fff !important;
      }
    }
    .wp-has-submenu .wp-not-current-submenu .menu-top {
      background-color: red !important;
    }
  }
  #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
  #adminmenu .wp-menu-arrow,
  #adminmenu .wp-menu-arrow div,
  #adminmenu li.current a.menu-top,
  #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background: $pColor;
    color: #fff;
  }

  ul.subsubsub {
    background: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 8px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3019607843);
    margin: 20px 2px;
    li {
      a {
        padding: 6px 20px;
        &:hover {
          background: $pColor !important;
          color: #fff !important;
          span {
            color: #fff !important;
          }
        }
      }
      a.current {
        background: $pColor !important;
        color: #fff !important;
        span {
          color: #fff !important;
        }
      }
    }
  }
  #wpfooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    color: #50575e;
    display: none;
  }
  #wpadminbar {
    background: $pColor;
  }
  .wrap {
    box-shadow: 0 0 10px #0000001f;
    border-radius: 12px;
    padding: 30px;
    background: #fff;
    margin-top: 20px;
    padding-top: 10px;
    a.page-title-action,
    input#search-submit,
    input[type="submit"],
    button.button.media-button.select-mode-toggle-button {
      background: $pColor !important;
      color: #fff !important;
      border-color: $pColor !important;
      &:hover {
        background: #fff !important;
        color: $pColor !important;
      }
    }
  }
  .updated {
    width: 200px;
    left: 0px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
  }
  body.wp-admin ul#adminmenu {
    width: 100%;
    background: #0f171c;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  li#wp-admin-bar-wp-logo {
    display: none;
  }
}
.wp-core-ui .button-primary {
  background-color: $pColor;
  color: #fff !important;
  transition: all 0.5s;
  &:hover {
    background-color: #fff !important;
    color: $pColor !important;
  }
}
