body.wp-admin {
  a.current {
    background: #08a88a !important;
  }
  ul#adminmenu {
    width: 100%;
    li &::before {
      color: #fff !important;
    }
    a:hover {
      background: #08a88a;
      color: #fff;
      .wp-menu-image.dashicons-before::before {
        color: #fff !important;
      }
    }
    .wp-has-submenu .wp-not-current-submenu .menu-top {
      background-color: red !important;
    }
  }
  #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
  #adminmenu .wp-menu-arrow,
  #adminmenu .wp-menu-arrow div,
  #adminmenu li.current a.menu-top,
  #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background: #08a88a;
    color: #fff;
  }

  ul.subsubsub {
    background: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 8px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3019607843);
    margin-bottom: 8px;
    li {
      a {
        padding: 6px 20px;
        &:hover {
          background: #08a88a !important;
          color: #fff !important;
          span {
            color: #fff !important;
          }
        }
      }
      a.current {
        background: #08a88a !important;
        color: #fff !important;
        span {
          color: #fff !important;
        }
      }
    }
  }
  #wpfooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    color: #50575e;
    display: none;
  }
  #wpadminbar {
    background: #08a88a;
  }
}
